.navbar {
  height: 25px;
  background-color: #222;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  font-size: 2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  gap: 20px;
}

.nav-links li {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s easer;
}

.nav-links a:hover {
  color: blueviolet;
}

